    <div class="vacancy_details">
      <h2>Vacancy Details</h2>
      <ul>
	<li>Job type: <span class="meta"><%=jobtype %></span></li>
	<li>Location: <span class="meta"><%=location %></span></li>
	<li>Start date: <span class="meta"><%=start_dt %></span></li>
	<li>Salary: <span class="meta"><%=salary %></span></li>
	<li>Date advertised: <span class="meta"><%=posted %></span></li>
	<li>Contact: <span class="meta"><%=email %></span></li>
      </ul>
      <p class="save"><a href="<%=savelink %>">Add</a> to your saved vacancies</p>
      <p class="unsave">You have saved this vacancy (<a href="<%=unsavelink %>">Unsave</a>)</p>
    </div>
